@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-shadow: 0 0 transparent;
  --tw-shadow-color: 0 0 transparent;
  --tw-inset-shadow: 0 0 transparent;
  --tw-inset-ring-shadow: 0 0 transparent;
  --tw-ring-offset-shadow: 0 0 transparent;
  --tw-ring-shadow: 0 0 transparent;
}
